
.power-bx{
	margin-right: 10px; 
    font-size: 26px; 
    background-color: #232637; 
    padding: 0.4rem 0.4rem;
    border-radius: 50px;
}


.settings{
    margin-right: 10px;
    margin-left: 5px;
    color: #999999;
}

.settings:hover{
    color: #F2828B;
}


.hib-btn, .sus-btn, .reb-btn, .exi-btn{  
    padding: 0 0.1rem;
	font-size: 26px;
	color: #565a6e;
}

.pow-btn{  
	color: #F2828B;
}

.sus-btn:hover{
	color: #EBCB8B;
}

.reb-btn:hover{
	color: #81C995;
}

.hib-btn:hover{
	color: #82AAFF; 
}

.exi-btn:hover{
	color: #73daca; 
}