
/*
.logo{   
    //background-color: $Background-Alt; 
    margin-left: 0.3rem; 
    margin-right: 0.3rem;
    border-radius: 50px;
    padding: 0.35rem 0.35rem;  
} 
*/  


.logo{
    //background-color: #fff;   
    //border-radius: 50px;    
    margin: 0.4rem 0.4rem;
    padding: 0.2rem 0.2rem
} 


.launcher{
    margin-left: 0.6rem;
    font-size: 20px;
}


.end{  
    margin: 0.4rem 0.4rem; 
    background-color: $Accent; 
    border-radius: 50px;
}
