



//$Background: #24085b;  
$Background: #161616;
$Background-Alt: #232637;  
$Accent: #464c5c;
$Foreground: #fff; 


$Lightblue: #bbdfd9; 
$Lightgreen: #81C995; 
$Lightgray: #999999; 


$Blue: #82AAFF;
$Yellow: #EBCB8B;
$Black: #000000;